<!DOCTYPE html>
{% load static %}



<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Blog Clone</title>
</head>


<body>

    <nav>
        <div>
            <div>
                <a href="{% url 'blog:post_list' %}">My Tech blog</a>
                <a href="{% url 'blog:about' %}">About</a>
                <a href="https://www.github.com" target="_blank">Github</a>
                <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
            </div>


            <div>
              {% if user.is_authenticated %}
                <a href="{% url 'blog:post_create' %}">New Post</a>
                <a href="{% url 'blog:draft_list' %}">Drafts</a>
                <a href="{% url 'logout' %}">Log out</a>
                <a >Welcome: {{ user.username }}</a>
              {% else %}
                <a href="{% url 'login' %}" aria-label="Login"><span aria-hidden="true">Login</span></a>


              {% endif %}
            </div>

      </div>
    </nav>


    {# The actual blog posts#}
          <div>
              <div>
                  <div>
                    <div>
                      {% block content %}
                      {% endblock %}

                    </div>
                  </div>
              </div>
          </div>

    {# SCRIPTS#}
    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
</body>


</html>
