{% extends 'blog/base.html' %}

{% block content %}
<strong>post_draft_list.html</strong>
    {% for post in object_list %}
        <div>
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>created: {{ post.created_date|date:'M d, Y' }}</p>
{#          <p>{{ post.text|truncatechars:200 }}</p>  #}
            <p>by {{ post.author }}</p>
            <a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{post.comments.count}}</a>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
